// Font Icons
// --------------------------------------------------
// Variaveis com o codigo de cada icone

$icons: (
  plus: "\e900",
  calendar: "\e901",
  editais: "\e902",
  clock: "\e903",
  location: "\e904",
  search: "\e905",
  libras: "\e906",
  contrast: "\e907",
  play_btn: "\e908",
  arrow_down: "\e909",
  arrow_top: "\e90a",
  arrow_left: "\e90b",
  arrow_right: "\e90c",
  angle_left: "\e90d",
  angle_up: "\e90e",
  angle_right: "\e90f",
  angle_down: "\e910",
  economia-criativa: "\e911",
  dados-br: "\e912",
  ouvidoria: "\e913",
  consultas-publicas: "\e914",
  fale-conosco: "\e915",
  multimidia: "\e916",
  publicacoes: "\e917",
  noticias: "\e918",
  assessoria: "\e919",
  escritorios-regionais: "\e91a",
  legislacao: "\e91b",
  acoes-programadas: "\e91c",
  internacional: "\e91d",
  vinculadas: "\e91e",
  secretarias: "\e91f",
  ministerio: "\e920",
  ministro: "\e921",
  pontos-cultura: "\e922",
  centros-culturais: "\e923",
  patrimonio: "\e924",
  apoio: "\e925",
  lei-rouanet: "\e926",
  snc: "\e927"
);

