// Font Icons
// --------------------------------------------------
// Variaveis com o codigo de cada icone

$icons: (
  editais: "\e900",
  clock: "\e901",
  location: "\e902",
  search: "\e903",
  libras: "\e904",
  contrast: "\e905",
  play_btn: "\e906",
  arrow_down: "\e907",
  arrow_top: "\e908",
  arrow_left: "\e909",
  arrow_right: "\e90a",
  angle_left: "\e90b",
  angle_up: "\e90c",
  angle_right: "\e90d",
  angle_down: "\e90e",
  economia-criativa: "\e90f",
  dados-br: "\e910",
  ouvidoria: "\e911",
  consultas-publicas: "\e912",
  fale-conosco: "\e913",
  multimidia: "\e914",
  publicacoes: "\e915",
  noticias: "\e916",
  assessoria: "\e917",
  escritorios-regionais: "\e918",
  legislacao: "\e919",
  acoes-programadas: "\e91a",
  internacional: "\e91b",
  vinculadas: "\e91c",
  secretarias: "\e91d",
  ministerio: "\e91e",
  ministro: "\e91f",
  pontos-cultura: "\e920",
  centros-culturais: "\e921",
  patrimonio: "\e922",
  apoio: "\e923",
  lei-rouanet: "\e924",
  snc: "\e925"
);

