.highlight-box {
	position: relative;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 370px;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;

	.box-body {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		padding: 15px;

		.cat {
			color: #fff;
			text-transform: uppercase;
			position: relative;

			&:before {
				content: '';
				display: block;
				width: 45px;
				height: 3px;
				background-color: #0094ff;
				position: absolute;
				top: -5px;
				left: 0;
			}
		}

		.box-title {
			font-size: 1.5rem;
			// line-height: 2.188rem;
			margin-top: 5px;
			font-weight: 700;

			a {
				color: #fff;
			}
		}
	}

	.box-image {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}
}