.subpages-menu {
  float: right;
  display: block;

  #page-info & {
    display: none;
  }

  .menu-content {
    float: right;
    position: relative;
    padding-right: 40px;

    &.active {
      button {
        &:before {
          @include transform(translateY(-50%) translateX(-50%) rotate(45deg));
        }
      }

      ul {
        visibility: visible;
        opacity: 1;
        transition: opacity .2s linear;
      }
    }

    > a {
      display: inline-block;
      max-width: 120px;
      margin-left: 10px;
      font-size: 1rem;
      font-weight: 500;
      color: #222;
      height: 17px;

      &:first-child {
        margin-left: 0;
      }
    }

    button {
      @include transform(translateY(-50%));
      @include border-radius(50%);

      display: inline-block;
      background: #222;
      font-size: 1.4em;
      width: 25px;
      height: 25px;
      line-height: 25px;
      color: #fff;
      text-align: center;
      font-weight: 700;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50%;
      cursor: pointer;
      border: none;
      outline: none;

      &.active {
        &:before {
          
        }
      }

      &:before {
        @include transition(all ease .2s);
        @include transform(translateY(-50%) translateX(-50%));

        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
      }
    }

    ul {
      position: absolute;
      right: 0;
      top: 43px;
      list-style: none;
      width: 100%;
      background: #efefef;
      padding: 30px;
      z-index: 4;

      visibility: hidden;
      opacity: 0;
      transition: visibility 0s .2s, opacity .2s linear;

      &:before {
        @include transform(translateY(-100%));

        content: "";
        width: 0; 
        height: 0; 
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid #efefef;
        position: absolute;
        top: 0;
        right: 0;
      }

      li {
        display: block;
        text-align: right;
        margin-top: 5px;

        &:first-child {
          margin-top: 0;
        }

        a {
          color: #222;
        }
      }
    }
  }
}
