.tags-list {
  margin-bottom: 15px;

  > span {
    display: inline-block;
    margin-right: 10px;
    font-size: 1em !important;
    color: #282828 !important;
  }

  a {
    @include border-radius(30px);

    display: inline-block;
    background: #EEE;
    padding: 8px 15px;
    color: #222;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-size: .75rem;
    font-weight: 600;
  }
}
