#breadcrumb-wrapper {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,.1);

	#breadcrumb {
		font-size: 1rem;
		background: none;
		margin: 0;

		li {
			a {
				color: #282828;
			}

			&.item-home {
				a {
					display: inline-block;
					position: relative;
					text-decoration: none;

					span {
						font-size: 0;
						text-indent: -999px;
					}

					&:before {
						font-size: 16px;
					}

				}
			}

			&.separator {
				margin: 0 15px;
				color: #bababa;
				font-size: 0.8rem;
			}
		}

		.high-contrast & {
			a {
				color: #fff !important;
			}
		}
	}
}
