#breadcrumb {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 15px 0;
	font-size: 1rem;
	background: none;
	margin: 0;

	li {
		line-height: 16px;

		a {
			color: #282828;
		}

		&.item-home {
			a {
				width: 20px;
				height: 15px;
				display: inline-block;
				text-indent: -999px;
				position: relative;

				&:before {
					background-image: url(../../img/sprite.png);
					background-position: -266px -185px;
					content: "";
					position: absolute;
					top: 3px;
					left: 0;
					width: 17px;
					height: 12px;
				}
			}
		}

		&.separator {
			margin: 0 15px;
			color: #bababa;
			font-size: 0.8rem;
		}
	}
}