html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $background__body;
  font-family: $font__main;
  position: relative;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  &.high-contrast {
    background: #000;
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

img {
  max-width: 100%;
}

.entry-header {
  &.has-menu {
    // padding: 30px 0;
    // margin-bottom: 40px;
    // overflow: hidden;
    position: relative;

    h1 {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      margin-bottom: 0;
    }

    .menu-wrapper {
      // position: absolute;
      float: right;
      padding: 20px 0;
      width: 100%;
      display: block;
      border-bottom: 1px solid rgba(0,0,0,.1);
      margin-bottom: 30px;

      .menu-content {
        float: right;
        position: relative;
        padding-right: 30px;

        &.active {
          button {
            &:before {
              @include transform(translateY(-50%) translateX(-55%) rotate(45deg));
            }
          }

          ul {
            visibility: visible;
            opacity: 1;
            transition: opacity .2s linear;
          }
        }

        > a {
          display: inline-block;

          margin-right: 10px;
          font-size: 1rem;
          font-weight: 500;
          color: #222;
        }

        button {
          @include transform(translateY(-50%));
          @include border-radius(50%);

          display: inline-block;
          background: #222;
          font-size: 1.4em;
          width: 25px;
          height: 25px;
          line-height: 25px;
          color: #fff;
          text-align: center;
          font-weight: 700;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 0;
          top: 50%;
          cursor: pointer;
          border: none;
          outline: none;

          &.active {
            &:before {
              
            }
          }

          &:before {
            @include transition(all ease .2s);
            @include transform(translateY(-50%) translateX(-50%));

            font-size: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
          }
        }

        ul {
          position: absolute;
          right: 0;
          top: 43px;
          list-style: none;
          width: 100%;
          background: #efefef;
          padding: 30px;
          z-index: 4;

          visibility: hidden;
          opacity: 0;
          transition: visibility 0s .2s, opacity .2s linear;

          &:before {
            @include transform(translateY(-100%));

            content: "";
            width: 0; 
            height: 0; 
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-bottom: 13px solid #efefef;
            position: absolute;
            top: 0;
            right: 0;
          }

          li {
            display: block;
            text-align: right;
            margin-top: 5px;

            &:first-child {
              margin-top: 0;
            }

            a {
              color: #222;
            }
          }
        }
      }
    }
  }
}

.entry-header,
.entry-content {
  max-width: 960px;
  margin: 0 auto;
}

.entry-content {
  > p {
    &:first-child:first-letter {
      color: $main__color;
      font-size: 5rem;
      display: block;
      font-weight: 700;
      float: left;
      line-height: 4rem;
      margin-right: 20px
    }
  }

  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
}

.carousel-wrapper {
  margin-bottom: 85px;
}

#multimidia {
  background-color: #222;
  background-color: #222222;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ffffff' fill-opacity='0.01' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 60px 0;
  color: #FFF;

  .video {
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 500px;
    padding: 0 20px;
    margin-bottom: 30px;
    background-size: cover;
  }

  .highlight-box {
    height: 215px;
    background-position: center center;
  }
}

#section-content {
  padding: 60px 0 30px;
  background-color: #1FC86A;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");

  .section-title {
    color: #FFF;
  }

  .feature-card {
    border: 4px solid #FFF;
    background-color: #1FC86A;
    color: #FFF;

    .card-title,
    .card-desc,
    .card-title a {
      color: #FFF;
    }

  &:hover {
    // background-color: #F8F8F8;
    border-color: #222;
    color: #222;

    .card-title,
    .card-desc,
    .card-title a {
      color: #222;
    }
  }
  }
}
