html {
	box-sizing: border-box;
}

body {
	@include media("≥phone", "≤tablet") {
		padding-top: 50px;

		&.menu-active {
			overflow: hidden;
		}
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $background__body;
	font-family: $font__main;
	position: relative;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;

	&.high-contrast {
		background: #000;
		color: #fff;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
}

img {
	max-width: 100%;
}

.entry-header,
.entry-content {
	max-width: 960px;
	margin: 0 auto;
}

.type-post {
	.entry-content {
		> p {
			&:first-child:first-letter {
				color: $main__color;
				font-size: 5rem;
				display: block;
				font-weight: 700;
				float: left;
				line-height: 4rem;
				margin-right: 20px
			}
		}

		p {
			font-size: 1.1em;
			line-height: 1.7em;
		}
	}
}

#section-content {
	padding: 73px 0 30px !important;
	background-color: #1FC86A;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");

	.section-title {
		color: #FFF;
	}
}

figure {
	&.wp-caption {
		background: none;
		border: none;
		padding: 0;

		img {
			margin-bottom: 1rem;
			max-width: 100%;
		}

		.wp-caption-text {
			color: #8e8e8e;
			font-weight: normal;
			font-size: .85rem;
		}
	}
}

.home {
	#news {
		@include media("≥phone", "≤tablet") {
			padding: 20px 0 !important;

			.section-title {
				margin-bottom: 20px !important;
			}
		}
	}

	#services {
		@include media("≥phone", "≤tablet") {
			padding: 20px 0 !important;
			margin: 0 !important;
			background: #06acff;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}
		}
	}

	#agenda {
		@include media("≥phone", "≤tablet") {
			margin: 0 !important;
		}
	}

	#secretarias {
		@include media("≥phone", "≤tablet") {
			padding: 20px 0 23px !important;
			margin: 0 !important;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}

			.section-title {
				margin-bottom: 20px !important;
			}
		}
	}

	#section-content {
		@include media("≥phone", "≤tablet") {
			padding: 20px 0 !important;
			margin: 0 !important;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}
		}
	}

	#participacao-social {
		@include media("≥phone", "≤tablet") {
			padding: 20px 0 23px !important;
			margin: 0 !important;

			.overflow-wrapper {
				margin: 0;
				padding: 0;
			}

			.section-title {
				margin-bottom: 20px !important;
			}
		}
	}

	#multimidia {
		@include media("≥phone", "≤tablet") {
			margin-top: 0 !important;
		}
	}
}

.overflow-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	@include media("≥phone", "≤tablet") {
		display: block;
		white-space: nowrap;
		overflow-x: auto;
		padding-bottom: 12px;
		margin-bottom: 10px;
		font-size: 0;

		> div {
			width: 80%;
			margin: 0 0 0 15px !important;
			padding: 0;
			display: inline-block;

			&:last-child {
				margin-right: 15px !important;
			}

			> * {
				white-space: normal;
			}
		}
	}
}

body.page {
	#main {
		background: #FFF;
	}
}

.entry-content {
	a {
		// color: #212529;
		text-decoration: underline;
		cursor: pointer;
		// font-weight: bold;
	}

	h2 {
		display: block;
		margin-bottom: 30px;
	}

	hr.wp-block-separator {
		width: 100%;
		display: block;
		float: left;
		clear: both;
		margin: 30px 0;
		@include transform(translateY(-1rem));
	}

	.wp-caption {
		&.alignleft {
			margin: 0 30px 10px 0;
		}

		&.alignright {
			margin: 0 0 10px 30px;
		}
	}

	img {
		&.alignleft {
			margin: 0 30px 30px 0;
		}

		&.alignright {
			margin: 0 0 30px 30px;
		}
	}

	div {
		&.alignleft {
			margin: 0 30px 30px 0;
		}

		&.alignright {
			margin: 0 0 30px 30px;
		}
	}

	.table-responsive {
		table {
			border-left: 1px solid #dee2e6;
			border-right: 1px solid #dee2e6;
			border-bottom: 1px solid #dee2e6;
		}

		thead {
			th {
				width: 25%;
				background: #2969BD;
				color: #FFF;
				border-bottom: 1px solid #dee2e6;
				font-weight: normal;
			}
		}

		tbody {
			th {
				font-weight: normal;

				&[colspan] {
					background: #EEE;
					font-size: 1rem;
				}
			}

			td,
			th {
				font-size: .85rem;

				a {
					font-weight: normal;
					text-decoration: none;
				}
			}

			td {
				// width: 25%;
			}
		}
	}
}

.wp-block-columns {
	margin-top: 62px;

	.wp-block-column {
		.feature-card {
			margin-top: 62px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.wp-block-gutenberg-boilerplate-es5-idgwp-gutenberg-block-card {
	height: 300px !important;

	a {
		@include transition(all ease-in-out .2s);

		color: #222;
		display: block;
		height: 300px;
		width: 100%;
		text-decoration: none;
		padding: 130px 10px 0 !important;
		font-weight: bold;

		&[target="_blank"] {
			background: url('../../img/external-link.svg') no-repeat;
			background-position: right 10px top 10px;

			&.btn {
				background-position: right 10px center;
				background-size: 20px;
			}
		}
	}

	&:hover {
		background-color: #F8F8F8;
		border-color: #06ACFF;
		color: #06ACFF;

		a {
			color: #06ACFF;
		}

		.card-title,
		.card-desc,
		.card-title a,
		.icon:before {
			color: #06ACFF;
		}

		.btn {
			border-color: #06ACFF;
			color: #06ACFF;
		}
	}
}

.multimedia-archive {
	.widget_idg_banner {
		display: none !important;
	}
}

.ui-datepicker {
	@include media("≥phone", "≤tablet") {
		width: 100%;
		position: fixed !important;
		top: 46px !important;
		left: 0 !important;
		height: calc(100% - 46px) !important;
		border: none;
	}

	.ui-datepicker-month {
		text-transform: capitalize;
	}

	.ui-datepicker-header {
		@include media("≥phone", "≤tablet") {
			height: 50px;
			line-height: 50px;

			.ui-datepicker-prev,
			.ui-datepicker-next {
				margin-top: 14px;
			}
		}
	}

	.ui-datepicker-calendar {
		table-layout: fixed;

		td {
			position: relative;

			&:before {
				@include transform(translateX(-50%) translateY(-50%));
				@include border-radius(50%);

				content: "";
				width: 40px;
				height: 40px;
				position: absolute;
				left: 50%;
				top: 50%;
				background: transparent;
				z-index: -1;

				@include media("≥phone", "≤tablet") {
					width: 50px;
					height: 50px;
				}
			}

			&:hover {
				background: none;

				.ui-state-default {
					color: inherit;
				}
			}


			&.ui-datepicker-current-day {
				background: none;

				&:before {
					background: $main__color;
				}

				a,
				.ui-state-default,
				.ui-state-active {
					color: #FFF;
				}
			}

			&.ui-datepicker-today {
				background: none;

				&:before {
					background: #2f884d;
				}

				a,
				.ui-state-default,
				.ui-state-active {
					color: #FFF;
				}
			}

			a {
				color: #222;
			}
		}
	}
}
