.idg-feature-card-widget {
	p {
		position: relative;
	}

	.card-desc-wrapper {
		img {
			max-width: 55px;
			width: 100%;
			height: 100%;
		}

		.upload_image_button {
			float: right;
		}
	}

	.feature-card {
		height: 150px;
		transition: all ease-in-out .2s;
		background-color: #f1f1f1;
		padding: 30px 15px 30px;
		position: relative;
		cursor: pointer;
		border: 4px solid transparent;
		margin-bottom: 13px;

		.align {
			transform: translateY(-50%) translateX(-50%);
			-webkit-transform: translateY(-50%) translateX(-50%);
			-moz-transform: translateY(-50%) translateX(-50%);
			-ms-transform: translateY(-50%) translateX(-50%);
			width: calc(100% - 40px);
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
		}

		.icon {
			margin-bottom: 20px;

			&:before {
				font-size: 55px;
				font-family: icomoon !important;
				speak: none;
				font-style: normal;
				font-weight: 400;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
			}

			img {
				max-width: 55px;
				width: 100%;
				height: 100%;
			}
		}

		.card-title {
			transition: all ease-in-out .2s;
			font-size: 1.2rem;
			font-weight: 700;
			margin: 0;
			position: relative;
		}

		.card-desc {
			transition: all ease-in-out .2s;
			font-style: italic;
			font-size: .85rem;

			.no-desc & {
				display: none;
			}
		}

		.card-btn {
			font-size: 0.9rem;
			padding: 5px 23px;
			color: #222;
			display: block;
			border-radius: 30px;
			border: 2px solid #222;
			margin: 5px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			font-weight: 700;
			white-space: nowrap;
			transition: all ease-in-out .2s;
			text-decoration: none;

			&:hover {
				background-color: #222;
				color: #f8f8f8;
			}
		}

		&.card-2 {
			border: 4px solid #fff;
			background-color: #1fc86a;
			color: #fff;

			.card-title {
				color: #fff;
			}
		}
	}
}


.idg-banners-widget {

	.banners-items {
		padding: 5px 10px;
		margin-bottom: 15px;
		background: #f1f1f1;

		.banner {
			padding-bottom: 5px;
			border-bottom: 1px solid #fff;
			margin-bottom: 5px;

			.banner-img-preview {
				width: 100%;
				max-width: 100%;
			}

			.remove-banner-item {
				color: #a00;
				float: right;
			}

			.upload_image_button {
				padding: 4px 8px;
				position: relative;
				top: -3px;
				text-decoration: none;
				border: 1px solid #ccc;
				border-radius: 2px;
				background: #f7f7f7;
				text-shadow: none;
				font-weight: 600;
				font-size: 13px;
				line-height: normal;
				color: #0073aa;
				cursor: pointer;
				outline: 0;
				margin-top: 5px;
			}
		}

	}
}
